#!/bin/bash
#
# Wrapper for wod-update-db.pl
#
WODPRIVINV=""
ANSIBLEPRIVOPT=""

# Import required env var and functions.
source {{ SCRIPTDIR }}/wod.sh
export INSTALLDIR={{ SCRIPTDIR }}/../install
source $INSTALLDIR/functions.sh

if [ -f "$WODPRIVINV" ]; then
	PRIVINV="-i $WODPRIVINV"
else
	PRIVINV=""
fi
POSTGRES_DB=`cat $WODAPIDBDIR/docker-compose.yml | yq '.services.db.environment.POSTGRES_DB' | sed 's/"//g'`
get_wodapidb_userpwd
wod-update-db.pl
