#!/bin/bash

set -x

### copy ssh keys on the Appliance server
TMPDIR=/tmp/app.$$
sudo mkdir -p $TMPDIR
sudo cp {{ WODSTUDDIR }}/student$stdid/.ssh/id_rsa.pub $TMPDIR
sudo chown -R $USER $TMPDIR

if [ _"$WODRTARGET" = _"" ]; then
	echo "WODRTARGET is not defined. Aborting..."
	exit -1
fi
ssh $WODRTARGET mkdir -p $TMPDIR
scp $TMPDIR/id_rsa.pub $WODRTARGET:$TMPDIR/
HOMEDIR=`ssh $WODRTARGET getent passwd student$stdid | cut -d: -f6`
if [ _"$HOMEDIR" != _"" ]; then
	# Avoid changing passwd in case of LDAP
	[ -z ${WODLDAPSETUP+x} ] && ssh $WODRTARGET "echo student$stdid:$randompw | sudo chpasswd"
	# Preventive cleanup
	cat > $TMPDIR/preventive-cleanup << EOF
#!/bin/bash
rm -rf $HOMEDIR/.??* $HOMEDIR/*
rsync -av /etc/skel/ $HOMEDIR/
EOF
	scp $TMPDIR/preventive-cleanup $WODRTARGET:$TMPDIR/
	ssh $WODRTARGET chmod 755 $TMPDIR/preventive-cleanup
	ssh $WODRTARGET sudo su - student$stdid -c $TMPDIR/preventive-cleanup
	# SSH setup
	ssh $WODRTARGET sudo install -d -m 0700 -o student$stdid -g student$stdid $HOMEDIR/.ssh
	ssh $WODRTARGET sudo install -m 0600 -o student$stdid -g student$stdid $TMPDIR/id_rsa.pub $HOMEDIR/.ssh/authorized_keys
	EXITVAL=0
else
	echo "student$stdid doesn't exist on the appliance $WODRTARGET for workshop $w"
	EXITVAL=-1
fi

## check staging or prod
ssh $WODRTARGET rm -rf $TMPDIR
rm -rf $TMPDIR
exit $EXITVAL
