#!/bin/bash

set -x

source {{ WODSCRIPTDIR }}/functions.sh

# Start by cleaning up stuff - do it early as after we setup .ssh content
{{ WODSCRIPTDIR }}/reset-$ws.sh
{{ WODSCRIPTDIR }}/create-appliance.sh

NAME=podmanlab
TMPDIR=/tmp/$NAME.$stdid


mkdir -p $TMPDIR

# Define local variables
echo wid=$wid
WODAPPMIN=`wod_get_range_min $wid`
echo stdid=$stdid
echo WODAPPMIN=$WODAPPMIN
sshport={{ hostvars[inventory_hostname]['SSHPORT-WKSHP-Podman201'] }}
httpport=$(($stdid-$WODAPPMIN+{{ hostvars[inventory_hostname]['HTTPPORT-WKSHP-Podman201'] }}))


# Adapt the ssh config for the student
cat > $TMPDIR/config << EOF
Host $WODRTARGET
    Port $sshport
EOF

#install oc command:
cd $TMPDIR
wget --no-check-certificate https://downloads-openshift-console.apps.staging-openshiftcl.etc.fr.comm.hpecorp.net/amd64/linux/oc.tar
cd /usr/local/bin
sudo  tar xvf $TMPDIR/oc.tar 
sudo chmod 755 oc

# ansible-vault to store it in the pass file creating a PODMANTOK ansible variable
if [ ! -d "{{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass" ]; then
	mkdir -p "{{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass"
fi
ansible-vault encrypt_string --vault-password-file "{{ WODANSIBLEPRIVDIR }}/vault_secret" $httpport --name "'HTTPPORT'" >> "{{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass/variables_${w}_${stdid}.yml"

# Cleanup
ssh -q {{ NOCHECKSSH }} $WODRTARGET sudo rm -rf $TMPDIR
rm -rf $TMPDIR
