#!/bin/bash

set -x

source {{ WODSCRIPTDIR }}/functions.sh

# Start by cleaning up stuff - do it early as after we setup .ssh content
{{ WODSCRIPTDIR }}/reset-$ws.sh
{{ WODSCRIPTDIR }}/create-appliance.sh

NAME=sparklab
TMPDIR=/tmp/$NAME.$stdid


mkdir -p $TMPDIR

# Define local variables
echo wid=$wid
WODAPPMIN=`wod_get_range_min $wid`
echo stdid=$stdid
echo WODAPPMIN=$WODAPPMIN
sparkport=$(($stdid-$WODAPPMIN+{{ hostvars[inventory_hostname]['SPARKPORT-WKSHP-Spark101'] }}))
sparkport2=$(($stdid-$WODAPPMIN+{{ hostvars[inventory_hostname]['SPARKPORT2-WKSHP-Spark101'] }}))
httpport=$(($stdid-$WODAPPMIN+{{ hostvars[inventory_hostname]['HTTPPORT-WKSHP-Spark101'] }}))

cat > $TMPDIR/dockerd-entrypoint.sh << EOF
export HTTPPORT
tini -g -- start-notebook.sh &
sleep 3
jupyter lab list | tail -1 | cut -d'=' -f2 | cut -d' ' -f1 > {{ WODSTUDDIR }}/student$stdid/sparktoken
sleep infinity
EOF

cat > $TMPDIR/Dockerfile << EOF
FROM ${NAME}:latest
USER root
COPY dockerd-entrypoint.sh /usr/local/bin/
ENTRYPOINT /usr/local/bin/dockerd-entrypoint.sh
RUN mkdir -p {{ WODSTUDDIR }}/student$stdid
RUN useradd student$stdid -u $stdid -g 100 -d {{ WODSTUDDIR }}/student$stdid
RUN chown student$stdid:users {{ WODSTUDDIR }}/student$stdid
# Unlock the account
RUN perl -pi -e "s|^student$stdid:!:|student$stdid:\$6\$rl1WNGdr\$qHyKDW/prwoj5qQckWh13UH3uE9Sp7w43jPzUI9mEV6Y1gZ3MbDDMUX/1sP7ZRnItnGgBEklmsD8vAKgMszkY.:|" /etc/shadow
# In case we need sudo
#RUN echo "student$stdid   ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
WORKDIR {{ WODSTUDDIR }}/student$stdid
USER student$stdid
ENV NB_USER student$stdid
ENV NB_UID $stdid
ENV HTTPPORT $httpport
RUN git clone https://github.com/hpe-container-platform-community/Apache-Spark-Tutorials {{ WODSTUDDIR }}/student$stdid/
RUN /opt/conda/bin/jupyter-nbconvert --clear-output --inplace {{ WODSTUDDIR }}/student$stdid/*.ipynb
EOF


# Look at https://stackoverflow.com/questions/34264348/docker-inside-docker-container
# and http://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/
# For security consider using https://github.com/nestybox/sysbox
cat > $TMPDIR/docker-compose.yml << EOF
version: '3.5'
services:
  $NAME$stdid:
    image: $NAME$stdid
    build: .
    #privileged: true
    ports:
      - "$httpport:8888"
      - "$sparkport:4040"
      - "$sparkport2:4041"
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
EOF
cat > $TMPDIR/launch-$NAME << EOF
#!/bin/bash
cd $TMPDIR
docker compose up --build -d
EOF

# Copy content and start container
ssh -q {{ NOCHECKSSH }} $WODRTARGET mkdir -p $TMPDIR
scp -q {{ NOCHECKSSH }} $TMPDIR/Dockerfile $TMPDIR/docker-compose.yml $TMPDIR/launch-$NAME $TMPDIR/dockerd-entrypoint.sh $WODRTARGET:$TMPDIR
ssh -q {{ NOCHECKSSH }} $WODRTARGET chmod 755 $TMPDIR $TMPDIR/dockerd-entrypoint.sh
ssh -q {{ NOCHECKSSH }} $WODRTARGET chmod 644 $TMPDIR/docker-compose.yml $TMPDIR/launch-$NAME $TMPDIR/Dockerfile
ssh -q {{ NOCHECKSSH }} $WODRTARGET sudo su - student$stdid -c \'bash $TMPDIR/launch-$NAME\'

# ssh to get token from running container
container_id=$(ssh -q {{ NOCHECKSSH }} $WODRTARGET docker ps -aqf "name=$NAME$stdid")
# We need time to let jupyterhub start before getting token
sleep 5
ssh -q {{ NOCHECKSSH }} $WODRTARGET "docker cp $container_id:{{ WODSTUDDIR }}/student$stdid/sparktoken $TMPDIR"
scp -q {{ NOCHECKSSH }} $WODRTARGET:$TMPDIR/sparktoken $TMPDIR
#ssh -q {{ NOCHECKSSH }} $WODRTARGET "docker cp /tmp/$NAME.$stdid $container_id:/student/student$stdid"
#ssh -q {{ NOCHECKSSH }} $WODRTARGET "docker exec -u root $container_id chown -R student$stdid:users /student/student$stdid/$NAME"

# ansible-vault to store it in the pass file creating a SPARKTOK ansible variable
if [ ! -d "{{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass" ]; then
	mkdir -p "{{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass"
fi
# We can overwrite the existing variables file as we don't need PASSSTU
ansible-vault encrypt_string --vault-password-file "{{ WODANSIBLEPRIVDIR }}/vault_secret" `cat $TMPDIR/sparktoken` --name "'SPARKTOK'" > "{{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass/variables_${w}_${stdid}.yml"
ansible-vault encrypt_string --vault-password-file "{{ WODANSIBLEPRIVDIR }}/vault_secret" $httpport --name "'HTTPPORT'" >> "{{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass/variables_${w}_${stdid}.yml"
ansible-vault encrypt_string --vault-password-file "{{ WODANSIBLEPRIVDIR }}/vault_secret" $sparkport --name "'SPARKPORT'" >> "{{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass/variables_${w}_${stdid}.yml"

# Cleanup
# ssh -q {{ NOCHECKSSH }} $WODRTARGET sudo rm -rf $TMPDIR
rm -rf $TMPDIR
