#!/bin/bash
#
# Script to be called from procmail to create student setup
# Expect mapping as parameters and workshop list on standard input
#
# (c) Bruno Cornec <bruno.cornec@hpe.com>, Hewlett Packard Development
# (c) Frederic Passeron <frederic.passeron@hpe.com>, Hewlett Packard Development
#
# Released under the GPLv2 License
#
set -e
set -x

# Defines WODBEDIR
source /etc/wod.sh
source {{ WODSCRIPTPRIVDIR }}/wod-private.sh
source {{ WODSCRIPTDIR }}/random.sh
source {{ WODSCRIPTDIR }}/functions.sh
#
# Main part
#
# Variables declaration
#

# endpoint variable - Has to be global
export WODAPIDBEXTURL={{ WODAPIDBEXTURL }}
export USER=$LOGNAME

# Main of script
action=$1
echo "we are working on "$action
if [ _"$1" = _"" ]; then
	echo "Syntax: procmail-action.sh <CREATE|CLEANUP|RESET|PURGE> <student id> <user id>"
	echo "ACTION is mandatory"
	exit -1
fi
shift

# Check action
if [ $action != "CREATE" ]  && [ $action != "CLEANUP" ]  && [ $action != "RESET" ] && [ $action != "PURGE" ]; then
	echo "Syntax: procmail-action.sh <CREATE|CLEANUP|RESET|PURGE> <student id> [<user id>]"
	echo "A correct ACTION is mandatory"
	exit -1
fi

export stdid=$1
if [ _"$1" = _"" ]; then
	echo "Syntax: procmail-action.sh <CREATE|CLEANUP|RESET|PURGE> <student id> [<user id>]"
	echo "Student Username id is mandatory"
	exit -1
fi
shift

export stddir="{{ WODSTUDDIR }}/student$stdid"
export accessToken=`wod_get_session_token`

# Increment the student ID by Number of jupyterhub students in students table
# Only for API Calls 
dbstdid=$((stdid+{{ WODBASESTDID }}))

userid=$1
if [ _"$1" = _"" ]; then
	echo "Syntax: procmail-action.sh <CREATE|CLEANUP|RESET|PURGE> <student id> <user id>"
	echo "Customer id is mandatory"
	exit -1
fi

# for PURGE we just need stddir and stdid and userid
if [ "$action" = "PURGE" ]; then
	wod_wait_till_clean $userid
	curl $WODCURLOPT --header "Authorization: token {{ WODBETOKEN }}" \
            --location \
            --request DELETE \
            "{{ WODBEAPIURL }}/hub/api/users/student$stdid/server"
	wod_generate_randompwd
	# Unassign student and update student
	curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
					--request PUT \
					--data '{
						"assigned":"false",\
		 				"password":"'$randompw'"\
						}' \
					"$WODAPIDBEXTURL/student/$dbstdid"
	wod_erase_student
	wod_cleanup_processes_student
	echo "end of procmail-action for student $stdid (passwd $randompw) with workshop $w with action $action at `date`"
    exit 0
fi

w=`wod_get_workshop_name`
# We differentiate Challenges from Workshop by creating a MODEWS variable
# Later passed as an ansible variable as well to process the notebook
ws=`echo $w |sed 's/CHLG/WKSHP/'`
if [ $ws != $w ]; then
	MODEWS="CHLG"
else
	MODEWS="WKSHP"
fi
# If that doesn't fail, then export the workshop name
export w
export ws
export wid=`wod_get_workshop_id $w`
#
# Is it a no- or mono- or multi-appliance setup ?
multiappliance=`wod_get_multiappliance_status $wid`
monoappliance=`wod_get_monoappliance_status $wid`
if [ _"`wod_get_multiappliance_status $wid`" = _"true" ]; then
	WODAPPMINVALUE=`wod_get_range_min $wid`
	delta=$(($stdid-$WODAPPMINVALUE))
	baseip=`wod_get_appliance_baseip $w`
	basedigit=`echo $baseip | cut -d'.' -f4`
	netip=`echo $baseip | cut -d'.' -f1-3`
	ip=$(($basedigit+$delta))
	export WODRTARGET="$netip.$ip"
else
	if [ _"`wod_get_monoappliance_status $wid`" = _"true" ]; then
		export WODRTARGET=`wod_get_appliance_baseip $w`
	fi
	# If no appliance, we do not define WODRTARGET on purpose
fi

# Handle CREATE and CLEANUP first
if [ $action != "RESET" ]; then
	wod_test_stdid $stdid


	cd $WODNOBO

	# Read workshop list on stdin
	if [ -d "$stddir" ]; then
		# Now change passwd
		wod_generate_randompwd

		# Some Notebooks need an LDAP passwd update as well
		if [ _"`wod_get_ldap_status $wid`" = _"true" ]; then
			wod_update_ldap_passwd
			wod_create_var_passwd
		fi
		# Some Notebooks need to get the passwd for the user
		if [ _"`wod_get_varpass_status $wid`" = _"true" ]; then
			wod_create_var_passwd
		fi

		if [ "$action" = "CREATE" ]; then
			wod_erase_student
			# compile flag is a STRING not a boolean
			compile=`wod_get_compile_status $wid`
			if [ _"$compile" = _"null" ]; then
				compile=""
			fi
			if [ _"$compile" != _"" ]; then
				compilepub=""
				compilepriv=""
				for s in `echo $compile | tr ',' '\n'`; do
					if [ -f "{{ WODSCRIPTDIR }}/$s" ]; then
						compilepub="$s,$compilepub"
					elif  [ -f "{{ WODSCRIPTPRIVDIR }}/$s" ]; then
						compilepriv="$s,$compilepriv"
					fi
				done
				compilepub=`echo $compilepub | sed 's|,$||'`
				compilepriv=`echo $compilepriv | sed 's|,$||'`
				# Same compile_scripts.yml used with different calls for public/private
				if [ _"$compilepub" != _"" ]; then
					ansible-playbook {{ WODANSIBLEDIR }}/compile_scripts.yml -i {{ WODANSIBLEDIR }}/inventory --limit {{ WODGROUP }} -e "STDID=$stdid" -e "COMPILE=\"$compilepub\"" -e "WODSCRIPTDIRECTORY={{ WODSCRIPTDIR }}" -e "VARDIRECTORY={{ WODANSIBLEDIR }}/{{ WODGROUP }}" -e "CHALLENGE=$w" $WODANSPLAYOPT $WODANSPRIVOPT
				fi
				if [ _"$compilepriv" != _"" ]; then
					ansible-playbook {{ WODANSIBLEDIR }}/compile_scripts.yml -i {{ WODANSIBLEDIR }}/inventory $WODPRIVINV --limit {{ WODGROUP }} -e "STDID=$stdid" -e "COMPILE=\"$compilepriv\"" -e "WODSCRIPTDIRECTORY={{ WODSCRIPTPRIVDIR }}" -e "VARDIRECTORY={{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}" -e "CHALLENGE=$w" $WODANSPLAYOPT $WODANSPRIVOPT
				fi
			fi
			if [ -x "{{ WODSCRIPTDIR }}/create-$ws.sh" ]; then
				echo "Setup workshop $w appliance"

				{{ WODSCRIPTDIR }}/create-$ws.sh
			fi
			if [ -x "{{ WODSCRIPTPRIVDIR }}/create-$ws.sh" ]; then
				echo "Setup private workshop $w appliance"
				{{ WODSCRIPTPRIVDIR }}/create-$ws.sh
			fi
			echo "Copying workshop $w content into target student dir $stddir"
			ansible-playbook {{ WODANSIBLEDIR }}/copy_folder.yml -i {{ WODANSIBLEDIR }}/inventory $WODPRIVINV --limit {{ WODGROUP }} -e "MODEWS=$MODEWS DIR=  CHALLENGE=$w WORKSHOP=$ws STDID=$stdid" $WODANSPLAYOPT $WODANSPRIVOPT --vault-password-file {{ WODANSIBLEPRIVDIR }}/vault_secret
			if [ -x "{{ WODSCRIPTDIR }}/post-copy-$ws.sh" ]; then
				echo "Perform post actions for workshop $w"
				{{ WODSCRIPTDIR }}/post-copy-$ws.sh
			fi
			if [ -x "{{ WODSCRIPTPRIVDIR }}/post-copy-$ws.sh" ]; then
				echo "Perform post actions for private workshop $w"
				{{ WODSCRIPTPRIVDIR }}/post-copy-$ws.sh
			fi
			# $w on purpose as stdid is unique, so name is not important
			rm -f {{ ansible_env.HOME }}/tmp/ac-student$stdid.yml {{ WODANSIBLEPRIVDIR }}/{{ WODGROUP }}/pass/variables_${w}_${stdid}.yml
		fi

		# Instead do 2 API calls here, one for passwd change, one for status change
		# Update Password
		curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
			 --request PUT \
			 --data '{"password":"'$randompw'"}' \
			 "$WODAPIDBEXTURL/student/$dbstdid"

		if [ "$action" = "CREATE" ]; then
			##Update customer status to active
			curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
				 --request PUT \
				 --data '{"active": "true"}' \
				 "$WODAPIDBEXTURL/customer/$userid"
			##Start Student jupyterhub dedicated server
			curl $WODCURLOPT --header "Content-Type: application/json" \
				 --header "Authorization: token {{ WODBETOKEN }}" \
				 --location \
				 --request POST \
				 --data '{}' \
                     "{{ WODBEAPIURL }}/hub/api/users/student$stdid/server"

		elif [ "$action" = "CLEANUP" ]; then
			# Launch cleanup script if any
			if [ -x "{{ WODSCRIPTDIR }}/cleanup-$ws.sh" ]; then
				echo "Cleaning up workshop $w"
				{{ WODSCRIPTDIR }}/cleanup-$ws.sh
			fi
			if [ -x "{{ WODSCRIPTPRIVDIR }}/cleanup-$ws.sh" ]; then
				echo "Cleaning up private workshop $w"
				{{ WODSCRIPTPRIVDIR }}/cleanup-$ws.sh
			fi
			# Keep completion status
			completion=`wod_get_completion_ratio $ws`

			# Update completion ratio figure in customer table
			 curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
              			 --request PUT \
              			 --data '{"completionPercentage": "'$completion'"}' \
               			"$WODAPIDBEXTURL/customer/$userid"


			# Delete Student jupyterhub dedicated server
			curl $WODCURLOPT --header "Authorization: token {{ WODBETOKEN }}" \
				--location \
			--request DELETE \
                         "{{ WODBEAPIURL }}/hub/api/users/student$stdid/server"

			# Get Workshop reset status to determine if users should be updated to inactive or not
			if [ _"`wod_get_reset_status $wid`" = _"true" ]; then
				# Update student status to assigned
				curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
					 --request PUT \
					 --data '{"assigned":"true"}' \
					 "$WODAPIDBEXTURL/student/$dbstdid"
				# Update customer status to inactive
				curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
					     --request PUT \
					     --data '{"active": "false"}' \
					     "$WODAPIDBEXTURL/customer/$userid"
			else
				# Update student status to unassigned
				curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
					 --request PUT \
					 --data '{"assigned":"false"}' \
					 "$WODAPIDBEXTURL/student/$dbstdid"
				# Possible to clean dirs because no RESET so no file needed in that dir
				wod_erase_student
				wod_cleanup_processes_student
			fi
			# Update customer cleaned status to true
			curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
				     --request PUT \
				     --data '{"cleaned": "true"}' \
				     "$WODAPIDBEXTURL/customer/$userid"
		else
			echo "Unknown action $action"
		fi
	else
		echo "Student directeory not found for $stddir"
	fi

elif [ "$action" = "RESET" ]; then
	wod_wait_till_clean $userid
	if [ _"`wod_get_reset_status $wid`" = _"true" ]; then
		if [ $(echo $stdid | grep -c ',') -ne 0 ]; then
			# We have a range to manage
			min=`echo $stdid | cut -d, -f1`
			wod_test_stdid $min
			max=`echo $stdid | cut -d, -f2`
			wod_test_stdid $max
			min=$((min+{{ WODBASESTDID }}))
			max=$((max+{{ WODBASESTDID }}))
			i=$max
			j=$max
			cap=$((max-min+1))

			# API call to Now reset capacity to original value
			# Oneview & advanced WKSHP case
	        curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
				--request PUT \
				--data '{"capacity":"'$cap'"}' \
				"$WODAPIDBEXTURL/workshop/$wid"
		else
			wod_test_stdid $stdid
			# We have a single value to manage
			i=$((stdid+{{ WODBASESTDID }}))
			j=$((stdid+{{ WODBASESTDID }}))
			min=$((stdid+{{ WODBASESTDID }}))
		fi

		while [ $i -ge $min ]; do
			# Then call the reset script
			# Now change passwd as sometimes the reset script needs to have it
			stdid=$((i-{{ WODBASESTDID }}))
			wod_generate_randompwd
	
			# Some Notebooks need an LDAP passwd update as well
			if [ _"`wod_get_ldap_status $wid`" = _"true" ]; then
				wod_update_ldap_passwd
			fi
			((i=i-1))
		done

		# Get Workshop backend reset status
		if [ ! -x "{{ WODSCRIPTDIR }}/reset-$ws.sh" ] && [ ! -x "{{ WODSCRIPTPRIVDIR }}/reset-$ws.sh" ]; then
			echo "Unable to reset backend for workshop $w, no script available"
			exit -1
		else
			if [ -x "{{ WODSCRIPTDIR }}/reset-$ws.sh" ]; then
				echo "Reseting workshop $w Backend"
				{{ WODSCRIPTDIR }}/reset-$ws.sh
			fi
			if [ -x "{{ WODSCRIPTPRIVDIR }}/reset-$ws.sh" ]; then
				echo "Reseting private workshop $w Backend"
				{{ WODSCRIPTPRIVDIR }}/reset-$ws.sh
			fi
		fi

		while [ $j -ge $min ]; do
			# API call
			# Update student status to unassigned
			curl $WODCURLOPT --header "x-access-token:$accessToken" --header "Content-Type: application/json" \
				--request PUT \
				--data '{"assigned":"false"}' \
				"$WODAPIDBEXTURL/student/$j"
			stdid=$((j-{{ WODBASESTDID }}))
			stddir="{{ WODSTUDDIR }}/student$stdid"
			wod_erase_student
			wod_cleanup_processes_student
			((j=j-1))
		done
	fi

else
	echo "Unknown action $action"
fi
echo "end of procmail-action for student $stdid (passwd $randompw) with workshop $w with action $action at `date`"
