#!/bin/bash

set -x

{{ WODSCRIPTDIR }}/reset-appliance.sh

# Cleanup
ssh -q {{ NOCHECKSSH }} $WODRTARGET sudo su - student$stdid -c \'rm -rf {{ WODSTUDDIR }}/student$stdid/.??* {{ WODSTUDDIR }}/student$stdid/*\'

exit 0
