---
- name: Create distrib file
  hosts: localhost
  gather_facts: true
  become: false
  tasks:
    - name: System details
      ansible.builtin.shell: echo '{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}' > '{{ ansible_env.HOME }}/.mail/distrib'
      register: result
      changed_when: result.rc != 0
